# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/
*.egg-info/

# Environments
.env
backend/.env.staging
backend/.env.production

# Node / Frontend
node_modules/
dist/
build/
.npm/

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
